/**
    * Basic Portfolio stylesheet
**/


* {
   box-sizing: border-box;
         
      }
/** 
    * body style
**/


body {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    background-image: url("../images/icecream-background.png");
    border: #dddddd;
    width: 1020px; 
    margin: auto;
  
        }


/** 
    * Main header style
**/

#mainheader {
    font-family: ('Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif);
    font-size: 100px;
    text-align: right;
    color: rgb(16, 16, 100);
    text-shadow: 15px 15px 20px blue;
    margin-top: 0px;
       }

/** header image style **/ 
#headimg {
    width: 600px;
    height: 300px;
    margin-right: 0px;
    float: right;
}

/** h2 style **/
#h2style {
    color: black;
    text-align: right;
    font-size: 30px;
    }
/** row style **/
#row {
    color: darkblue;
    float: right;
    margin-right: 30px;
    font-size: 20px;
}

/** footer style **/
#footstyle {
    margin-left: 650px;
    margin-right: 10px;
}
